.subnonintro {
  font-size: 1.2em;
  font-family: "Trueno Reg";
  font-weight: normal;
  text-align: justify;
}
#contact {
  text-align: -webkit-center;
}
.contact {
  width: 60px;
}
.contact2 {
  width: 90px;
}
.contact3 {
  width: 70px;
}
